$light-orange: hsl(25, 91%, 64%);
$medium-orange: hsl(25, 97%, 53%);
$dark-orange: hsl(25, 85%, 35%);

$White: hsl(0, 0%, 100%);
$light-gray: hsl(217, 12%, 63%);
$medium-gray: hsl(216, 12%, 54%);
$dark-gray: hsl(218, 10%, 35%);

$light-blue: hsl(212, 21%, 31%);
$medium-blue: hsl(213, 19%, 18%);
$dark-blue: hsl(216, 12%, 8%);

$font-family: "Overpass", sans-serif;

$fs-paragraph: 15px;

$fw-400: 400;
$fw-700: 700;
